* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


header {
  background-color: lightblue;
  margin: 0 auto;
  max-width: auto;
  height: 100px;
  display: flex;
}

.container {
  width: 500px;
  height: 50%;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}

.container span {
width: 400px;
height: 50px;
border: 2px dashed black;
background-color: orange;
line-height: 40px;
}

.containerblue {
  background-color: rgb(15, 16, 87);
  margin: 0 auto;
  max-width: auto;
  height: 250px;
  display: flex;
}

.pinkbox {
  width: 500px;
  height: 85%;
  margin: 0 auto;
  background-color: rgb(229, 125, 201);
  border: 2px dashed black;
  display: flex;
  margin-top: 20px;
}

.containerwhite {
  background-color: rgb(220, 220, 228);
  margin: 0 auto;
  max-width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
}


.lightbox {
width: 300px;
  height: 85%;
  margin: 50 auto;
  background-color: rgb(92, 199, 207);
  border: 2px dashed black;
  display: flex;
  margin-top: 20px;
}

.rosebox {
  width: 200px;
  height: 85%;
  margin: 50 auto;
  background-color: rgb(229, 114, 139);
  border: 2px dashed black;
  display: flex;
  margin-top: 20px;
}



.containergrey {
background-color: rgb(122, 122, 126);
  margin: 0 auto;
  max-width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
}

.containerbigger {
background-color: rgb(178, 178, 184);
  margin: 0 auto;
  max-width: auto;
  height: 450px;
  display: flex;
}

.greenbox {
  width: 500px;
  height: 85%;
  margin: 0 auto;
  background-color: rgb(129, 229, 114);
  border: 2px dashed black;
  display: flex;
  margin-top: 20px;
}

.containerblack {
background-color: rgb(36, 36, 40);
  margin: 0 auto;
  max-width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
}

.roseboxb {
width: 100px;
  height: 85%;
  margin: 50 auto;
  background-color: rgb(229, 114, 139);
  border: 2px dashed black;
  display: flex;
  margin-top: 20px;

}


.lightboxb {
  width: 100px;
  height: 85%;
  margin: 50 auto;
  background-color: rgb(92, 199, 207);
  border: 2px dashed black;
  display: flex;
  margin-top: 20px;
}

.containerblackfoot {
background-color: rgb(36, 36, 40);
  margin: 0 auto;
  max-width: auto;
  height: 100px;
  display: flex;
  justify-content: center;

}